---
title: 'Home'
description: 'Home description'
---

{% extends "./_layouts/base.njk" %}

{% block styles %}{#
#}{{ super() }}{#
#}<link rel="stylesheet" href="/assets/styles/home.css" />{#
#}{% endblock %}

{% block scripts %}
{{ super() }}{#
#}<script src="/assets/scripts/home.js"></script>{#
#}{% endblock %}

{% block contents %}
<p>Hi</p>
{% endblock %}
